$error: #B9121B;
$formBg: gray * 1.95;
$formBorder: gray * 1.8;

html {
    width: 850px;
    height: 500px;
}

body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

nav {
    width: 100%;
    height: 39px;
    background-color: #2C3E50;
    color: white;
}

hr {
    margin: 0;
}

#app {
    width: 100%;
    height: 100%;
}

.logo {
    float: left;
    padding: 10px 10px 10px 10px;
    margin: 0 0 0 10px;
    font-weight: 300;
    background-color: rgba(black, 0.2);
}

.tab {
    float: left;
    padding: 10px 10px 10px 10px;
    cursor: pointer;
    opacity: 0.6;

    &:hover {
        opacity: 1;
    }

    &.active {
        opacity: 1;
        background-color: rgba(white, 0.02)
    } 
}

.settings {

    .Cell {
        padding: 10px;
    }

    .net {
        padding: 15px;
        margin: 0 0 10px 0;
        width: calc(100% - 32px);
        background-color: $formBg;
        border: 1px solid $formBorder;
        border-radius: 5px;
    
        .title {
            font-size: 15px;
            font-weight: 300;
        }

        .sub {
            margin: 5px 0 0 0;
            font-size: 11px;
            opacity: 0.5;
            text-align: justify;
        }

        input {
            font-family: 'Roboto', sans-serif;
            font-size: 13px;
            margin: 5px 0 0 0;
            padding: 0 5px 0 5px;
            width: calc(100% - 14px);
            height: 25px;
            border: 1px solid rgba(0,0,0,0.2);
            outline: none;
            border-radius: 3px;
        }
    }

    .interface-list {
        background-color: $formBg;
        border: 1px solid $formBorder;
        height: 100%;
        overflow-x: hidden;
        overflow-y: scroll;

        &::-webkit-scrollbar-track
        {
            background-color: #F5F5F5;
        }

        &::-webkit-scrollbar
        {
            width: 10px;
            background-color: #F5F5F5;
        }

        &::-webkit-scrollbar-thumb
        {
            background-color: #000000;
            border: 2px solid #555555;
        }

        .interface {
            padding: 5px 10px 5px 10px;
            width: 100%;
            height: 33px;
            border-bottom: 1px solid gray * 1.8;
            cursor: pointer;

            &:hover {
                background-color: gray * 1.91;
            }

            &.active {
                background-color: rgba(#79BD8F, 0.1);

                .left {
                    color: #79BD8F;
                    animation: fadeIn 1s infinite alternate;
                }
            }

            .left {
                float: left;
                font-size: 25px;
                line-height: 33px;
                color: grey * 1.4;

                @keyframes fadeIn { 
                    from { opacity: 0; } 
                }
            }

            .info {
                float: left;
                margin: 0 0 0 10px;

                .name {
                    font-weight: 600;
                    display: block;
                }

                .ip {
                    font-size: 12px;
                    opacity: 0.5;
                    display: block;
                    margin: -1px 0 0 0;
                    font-weight: 300;
                }
            }

            .id {
                float: right;
                margin: 0 20px 0 0;
                line-height: 33px;
                opacity: 0.4;
                font-weight: 300;
            }
        }
    }
}

.logs {
    padding: 10px;
    height: calc(100% - 59px);

    .content {
        background-color: $formBg;
        border: 1px solid $formBorder;
        height: 100%;
        width: 100%;
        overflow-x: hidden;
        overflow-y: scroll;

        &::-webkit-scrollbar-track
        {
            background-color: #F5F5F5;
        }

        &::-webkit-scrollbar
        {
            width: 10px;
            background-color: #F5F5F5;
        }

        &::-webkit-scrollbar-thumb
        {
            background-color: #000000;
            border: 2px solid #555555;
        }

        .entry {
            padding: 0 10px 0 10px;
            width: calc(100% - 20px);
            min-height: 30px;
            line-height: 30px;
            border-bottom: 1px solid $formBorder;
            font-size: 12px;
            font-weight: 300;
        }
    }
}

.btn {
    width: 100%;
    height: 40px;
    line-height: 40px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px;

    .icon {
        width: 50px;
        display: block;
        float: left;
        text-align: center;
        font-size: 16px;
    }

    .text {
        width: calc(100% - 100px);
        text-align: center;
        display: block;
        float: left;
    }

    &.red {
        background-color: $error;

        &:hover {
            background-color: $error * 1.2;
        }

        &:active {
            background-color: $error * 0.8;
        }
    }

}